## OS X files
.DS_Store
.DS_Store?
.Trashes
.Spotlight-V100
*.swp

## Xcode build files
DerivedData/
build/

## Xcode private settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/
*.xcworkspace

# Temp
Temp/

# Ingore Service Plist
*.GoogleService-Info.plist
*.Fabric-Info.plist
WavesWallet-iOS/Resources/Fabric-Info.plist
WavesWallet-iOS/Resources/GoogleService-Info.plist
WavesWallet-iOS/Resources/GoogleService-Info-Dev\.plist
WavesWallet-iOS/Resources/GoogleService-Info-Prod\.plist
WavesWallet-iOS/Resources/GoogleService-Info-Test\.plist
WavesWallet-iOS/Resources/Appsflyer-Info\.plist
WavesWallet-iOS/Resources/Appsflyer-Info.plist
WavesWallet-iOS/Resources/AppSpector-Info\.plist
WavesWallet-iOS/Resources/Sentry\.io-Info\.plist
WavesWallet-iOS/Resources/Sentry-io-Info\.plist

# Ingore Fastlane
fastlane/report\.xml
fastlane/README\.md

# Ingore Env
\.env

# Ingore Bundle vendor
vendor/
Vendor/
WavesWallet-iOS/Resources/Sentry-io-Info\.plist
WavesWallet-iOS/Resources/Amplitude-Info.plist
