[submodule "Vendors/WavesSDK"]
	path = Vendors/WavesSDK
	url = git@github.com:wavesplatform/WavesSDK-iOS.git
[submodule "Vendors/weprotobuf/api-specs"]
	path = Vendors/weprotobuf/api-specs
	url = git@gitlab.waves.exchange:we-private/api-specs.git
