<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41364336581-n3qimppcqjg8sjq6dm1bbj5oh0e66ljt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41364336581-n3qimppcqjg8sjq6dm1bbj5oh0e66ljt</string>
	<key>API_KEY</key>
	<string>AIzaSyDpC_d6vLu5Tlah1TW1GuhcyQUd23STk5k</string>
	<key>GCM_SENDER_ID</key>
	<string>41364336581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wavesplatform.waveswallet.dev</string>
	<key>PROJECT_ID</key>
	<string>waves-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>waves-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41364336581:ios:95f9ec750d5c6b30</string>
	<key>DATABASE_URL</key>
	<string>https://waves-wallet.firebaseio.com</string>
</dict>
</plist>